<!DOCTYPE html>
<html lang="en">

<head>
    <title>Java Quiz</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../css/quiz.css" media="screen, print" />
    <link rel="stylesheet" href="../../css/cheatsheet.css" media="screen, print" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        .poppins-regular {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    </style>
</head>

<body style="--container: min(95%, 1780px);">

    <div class="tutorial-content" id="mainContent">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
</style>        <center><h1 class="poppins-regular" style="font-size: xx-large;"><strong>Java Quiz</strong></h1></center>
<hr />
        <div class="QA">
            <div class="Q" id="Q5">
                <p><span>Q 1</span> - Objects are stored on Stack.</p>
                <p><a class="false" href="javascript:void(0);"><span>A</span> - True</a></p>
                <p><a class="true" href="javascript:void(0);"><span>B</span> - False</a></p>
            </div>
            <div class="A" id="A5">
                <h3>Answer : B</h3>
                <h3>Explaination</h3>
                <p>Objects are allocated memory in heap memory space.</p>
            </div>
            <div class="E" id="E5">
            </div>
            <div class="B">
                <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('5')"><i
                        class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
        </div>
        <div class="QA">
            <div class="Q" id="Q12">
                <p><span>Q 2</span> - What is the size of int variable?</p>
                <p><a class="false" href="javascript:void(0);"><span>A</span> - 8 bit</a></p>
                <p><a class="false" href="javascript:void(0);"><span>B</span> - 16 bit</a></p>
                <p><a class="true" href="javascript:void(0);"><span>C</span> - 32 bit</a></p>
                <p><a class="false" href="javascript:void(0);"><span>D</span> - 64 bit</a></p>
            </div>
            <div class="A" id="A12">
                <h3>Answer : C</h3>
                <h3>Explaination</h3>
                <p>The int data type is represented by 32-bit signed two's complement integer,
                </p>
                <p>Minimum value: -231</p>
                <p>Maximum value: 231-1</p>
            </div>
            <div class="E" id="E12">
            </div>
            <div class="B">
                <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('12')"><i
                        class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
        </div>
        <div class="QA">
            <div class="Q" id="Q25">
                <p><span>Q 3</span> - What is the default value of int variable?</p>
                <p><a class="true" href="javascript:void(0);"><span>A</span> - 0</a></p>
                <p><a class="false" href="javascript:void(0);"><span>B</span> - 0.0</a></p>
                <p><a class="false" href="javascript:void(0);"><span>C</span> - null</a></p>
                <p><a class="false" href="javascript:void(0);"><span>D</span> - not defined</a></p>
            </div>
            <div class="A" id="A25">
                <h3>Answer : A</h3>
                <h3>Explaination</h3>
                <p>int variable has default value of 0 if defined as an instance/static variable.</p>
            </div>
            <div class="E" id="E25">
            </div>
            <div class="B">
                <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('25')"><i
                        class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
        </div>
        <div class="QA">
            <div class="Q" id="Q38">
                <p><span>Q 4</span> - Which of the following is false about String?</p>
                <p><a class="false" href="javascript:void(0);"><span>A</span> - String is immutable.</a></p>
                <p><a class="false" href="javascript:void(0);"><span>B</span> - String can be created using new
                        operator.</a></p>
                <p><a class="true" href="javascript:void(0);"><span>C</span> - String is a primary data type.</a></p>
                <p><a class="false" href="javascript:void(0);"><span>D</span> - None of the above.</a></p>
            </div>
            <div class="A" id="A38">
                <h3>Answer : C</h3>
                <h3>Explaination</h3>
                <p>String is a object.</p>
            </div>
            <div class="E" id="E38">
            </div>
            <div class="B">
                <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('38')"><i
                        class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
        </div>
        <div class="QA">
            <div class="Q" id="Q43">
                <p><span>Q 5</span> - What is Encapsulation?</p>
                <p><a class="false" href="javascript:void(0);"><span>A</span> - Encapsulation is a technique to define
                        different methods of same type.</a></p>
                <p><a class="false" href="javascript:void(0);"><span>B</span> - Encapsulation is the ability of an
                        object to take on many forms.</a></p>
                <p><a class="true" href="javascript:void(0);"><span>C</span> - Encapsulation is the technique of making
                        the fields in a class private and providing access to the fields via public methods.</a></p>
                <p><a class="false" href="javascript:void(0);"><span>D</span> - None of the above.</a></p>
            </div>
            <div class="A" id="A43">
                <h3>Answer : C</h3>
                <h3>Explaination</h3>
                <p>It is the technique of making the fields in a class private and providing access to the fields via
                    public methods. If a field is declared private, it cannot be accessed by anyone outside the class,
                    thereby hiding the fields within the class. Therefore encapsulation is also referred to as data
                    hiding.</p>
            </div>
            <div class="E" id="E43">
            </div>
            <div class="B">
                <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('43')"><i
                        class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
        </div>
        <div class="QA">
            <div class="Q" id="Q58">
                <p><span>Q 6</span> - Can be constructor be made final?</p>
                <p><a class="false" href="javascript:void(0);"><span>A</span> - True.</a></p>
                <p><a class="true" href="javascript:void(0);"><span>B</span> - False.</a></p>
            </div>
            <div class="A" id="A58">
                <h3>Answer : B</h3>
                <h3>Explaination</h3>
                <p>No, this is not possible.</p>
            </div>
            <div class="E" id="E58">
            </div>
            <div class="B">
                <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('58')"><i
                        class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
        </div>
        <div class="QA">
            <div class="Q" id="Q61">
                <p><span>Q 7</span> - What is composition?</p>
                <p><a class="false" href="javascript:void(0);"><span>A</span> - Composition is a data structure.</a></p>
                <p><a class="false" href="javascript:void(0);"><span>B</span> - Composition is a way to create an
                        object.</a></p>
                <p><a class="true" href="javascript:void(0);"><span>C</span> - Holding the reference of the other class
                        within some other class is known as composition.</a></p>
                <p><a class="false" href="javascript:void(0);"><span>D</span> - None of the above.</a></p>
            </div>
            <div class="A" id="A61">
                <h3>Answer : C</h3>
                <h3>Explaination</h3>
                <p>Holding the reference of the other class within some other class is known as composition. It
                    represents a HAS-A relationship. For example, a Student has a Pen. Here Student class has Pen as its
                    instance variable.</p>
            </div>
            <div class="E" id="E61">
            </div>
            <div class="B">
                <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('61')"><i
                        class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
        </div>
        <div class="QA">
            <div class="Q" id="Q71">
                <p><span>Q 8</span> - Which is the way in which a thread can enter the waiting state?</p>
                <p><a class="false" href="javascript:void(0);"><span>A</span> - Invoke its sleep() method.</a></p>
                <p><a class="false" href="javascript:void(0);"><span>B</span> - invoke object's wait method.</a></p>
                <p><a class="false" href="javascript:void(0);"><span>C</span> - Invoke its suspend() method.</a></p>
                <p><a class="true" href="javascript:void(0);"><span>D</span> - All of the above.</a></p>
            </div>
            <div class="A" id="A71">
                <h3>Answer : D</h3>
                <h3>Explaination</h3>
                <p>A thread can enter the waiting state by invoking its sleep() method, by blocking on IO, by
                    unsuccessfully attempting to acquire an object's lock, or by invoking an object's wait() method. It
                    can also enter the waiting state by invoking its (deprecated) suspend() method.</p>
            </div>
            <div class="E" id="E71">
            </div>
            <div class="B">
                <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('71')"><i
                        class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
        </div>
        <div class="QA">
            <div class="Q" id="Q89">
                <p><span>Q 9</span> - Can constructor be inherited?</p>
                <p><a class="false" href="javascript:void(0);"><span>A</span> - True.</a></p>
                <p><a class="true" href="javascript:void(0);"><span>B</span> - False.</a></p>
            </div>
            <div class="A" id="A89">
                <h3>Answer : B</h3>
                <h3>Explaination</h3>
                <p>No, constructor cannot be inherited.</p>
            </div>
            <div class="E" id="E89">
            </div>
            <div class="B">
                <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('89')"><i
                        class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
        </div>
        <div class="QA">
            <div class="Q" id="Q92">
                <p><span>Q 10</span> - Which method must be implemented by all threads?</p>
                <p><a class="false" href="javascript:void(0);"><span>A</span> - wait()</a></p>
                <p><a class="false" href="javascript:void(0);"><span>B</span> - start()</a></p>
                <p><a class="false" href="javascript:void(0);"><span>C</span> - stop()</a></p>
                <p><a class="true" href="javascript:void(0);"><span>D</span> - run()</a></p>
            </div>
            <div class="A" id="A92">
                <h3>Answer : D</h3>
                <h3>Explaination</h3>
                <p>All threads must implement the run() method.</p>
            </div>
            <div class="E" id="E92">
            </div>
            <div class="B">
                <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('92')"><i
                        class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
        </div>


        <script type="text/javascript" src="/exams.js"></script>
        <script type="text/javascript" src="../../js/quiz.js"></script>
        <script type="text/javascript" src="../../js/cheat.js"></script>
</body>

</html>