<!DOCTYPE html>
<html lang="en">

<head>
	<title>HTML5 Quiz</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../css/quiz.css" media="screen, print" />
    <link rel="stylesheet" href="../../css/cheatsheet.css" media="screen, print" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        .poppins-regular {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    </style>
</head>

<body style="--container: min(95%, 1780px);">

	<div class="tutorial-content" id="mainContent">
        <center><h1 class="poppins-regular" style="font-size: xx-large;"><strong>HTML5 Quiz</strong></h1></center>
		<hr />
        <div class="QA">
            <div class="Q" id="Q10">
            <p><span>Q 1</span> - Which of the following tag represents an independent piece of content of a document in HTML5?</p>
            <p><a class="false" href="javascript:void(0);"><span>A</span> - section</a></p>
            <p><a class="true" href="javascript:void(0);"><span>B</span> - article</a></p>
            <p><a class="false" href="javascript:void(0);"><span>C</span> - aside</a></p>
            <p><a class="false" href="javascript:void(0);"><span>D</span> - header</a></p>
            </div>
            <div class="A" id="A10">
            <h3>Answer : B</h3>
            <h3>Explanation</h3>
            <p>'article' tag represents an independent piece of content of a document, such as a blog entry or newspaper article.</p>
            </div> 
            <div class="B">
            <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('10')"><i class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
            </div>
            <div class="QA">
            <div class="Q" id="Q15">
            <p><span>Q 2</span> - Which of the following tag represents a section of the document intended for navigation in HTML5?</p>
            <p><a class="false" href="javascript:void(0);"><span>A</span> - footer</a></p>
            <p><a class="true" href="javascript:void(0);"><span>B</span> - nav</a></p>
            <p><a class="false" href="javascript:void(0);"><span>C</span> - section</a></p>
            <p><a class="false" href="javascript:void(0);"><span>D</span> - dialog</a></p>
            </div>
            <div class="A" id="A15">
            <h3>Answer : B</h3>
            <h3>Explanation</h3>
            <p>'nav' tag represents a section of the document intended for navigation.</p>
            </div> 
            <div class="B">
            <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('15')"><i class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
            </div>
            <div class="QA">
            <div class="Q" id="Q21">
            <p><span>Q 3</span> - Which of the following is correct about Web form 2.0 in HTML5?</p>
            <p><a class="false" href="javascript:void(0);"><span>A</span> - Web Forms 2.0 is an extension to the forms features found in HTML4.</a></p>
            <p><a class="false" href="javascript:void(0);"><span>B</span> - Form elements and attributes in HTML5 provide a greater degree of semantic mark-up than HTML4.</a></p>
            <p><a class="false" href="javascript:void(0);"><span>C</span> - Form elements and attributes in HTML5 remove a great deal of the need for tedious scripting and styling that was required in HTML4.</a></p>
            <p><a class="true" href="javascript:void(0);"><span>D</span> - All of the above.</a></p>
            </div>
            <div class="A" id="A21">
            <h3>Answer : D</h3>
            <h3>Explanation</h3>
            <p>All of the above options are correct.</p>
            </div> 
            <div class="B">
            <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('21')"><i class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
            </div>
            <div class="QA">
            <div class="Q" id="Q36">
            <p><span>Q 4</span> - Can you use SVG tags directly in HTML5 without any plugin?</p>
            <p><a class="true" href="javascript:void(0);"><span>A</span> - true</a></p>
            <p><a class="false" href="javascript:void(0);"><span>B</span> - false</a></p>
            </div>
            <div class="A" id="A36">
            <h3>Answer : A</h3>
            <h3>Explanation</h3>
            <p>Yes! HTML5 allows embeding SVG directly using &lt;svg&gt;...&lt;/svg&gt; tag.</p>
            </div> 
            <div class="B">
            <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('36')"><i class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
            </div>
            <div class="QA">
            <div class="Q" id="Q49">
            <p><span>Q 5</span> - Which value of Socket.readyState atribute of WebSocket indicates that the connection is going through the closing handshake?</p>
            <p><a class="false" href="javascript:void(0);"><span>A</span> - 0</a></p>
            <p><a class="false" href="javascript:void(0);"><span>B</span> - 1</a></p>
            <p><a class="true" href="javascript:void(0);"><span>C</span> - 2</a></p>
            <p><a class="false" href="javascript:void(0);"><span>D</span> - 3</a></p>
            </div>
            <div class="A" id="A49">
            <h3>Answer : C</h3>
            <h3>Explanation</h3>
            <p>A value of 2 indicates that the connection is going through the closing handshake.</p>
            </div> 
            <div class="B">
            <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('49')"><i class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
            </div>
            <div class="QA">
            <div class="Q" id="Q57">
            <p><span>Q 6</span> - Which of the following is correct about geolocation api in HTML5?</p>
            <p><a class="false" href="javascript:void(0);"><span>A</span> - The geolocation APIs work with a new property of the global navigator object.</a></p>
            <p><a class="false" href="javascript:void(0);"><span>B</span> - The geolocation object is a service object that allows widgets to retrieve information about the geographic location of the device.</a></p>
            <p><a class="true" href="javascript:void(0);"><span>C</span> - Both of the above.</a></p>
            <p><a class="false" href="javascript:void(0);"><span>D</span> - None of the above.</a></p>
            </div>
            <div class="A" id="A57">
            <h3>Answer : C</h3>
            <h3>Explanation</h3>
            <p>Both of the above options are correct.</p>
            </div> 
            <div class="B">
            <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('57')"><i class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
            </div>
            <div class="QA">
            <div class="Q" id="Q67">
            <p><span>Q 7</span> - Which of the following attribute is used to group items?</p>
            <p><a class="false" href="javascript:void(0);"><span>A</span> - item</a></p>
            <p><a class="true" href="javascript:void(0);"><span>B</span> - itemprop</a></p>
            <p><a class="false" href="javascript:void(0);"><span>C</span> - itemcheck</a></p>
            <p><a class="false" href="javascript:void(0);"><span>D</span> - itemgroup</a></p>
            </div>
            <div class="A" id="A67">
            <h3>Answer : B</h3>
            <h3>Explanation</h3>
            <p>itemprop − Used to group items.</p>
            </div> 
            <div class="B">
            <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('67')"><i class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
            </div>
            <div class="QA">
            <div class="Q" id="Q79">
            <p><span>Q 8</span> - Which of the following attribute triggers event at the end of a drag operation?</p>
            <p><a class="false" href="javascript:void(0);"><span>A</span> - ondragleave</a></p>
            <p><a class="false" href="javascript:void(0);"><span>B</span> - ondrag</a></p>
            <p><a class="true" href="javascript:void(0);"><span>C</span> - ondragend</a></p>
            <p><a class="false" href="javascript:void(0);"><span>D</span> - ondragenter</a></p>
            </div>
            <div class="A" id="A79">
            <h3>Answer : C</h3>
            <h3>Explanation</h3>
            <p>ondragend − Triggers event at the end of a drag operation.</p>
            </div> 
            <div class="B">
            <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('79')"><i class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
            </div>
            <div class="QA">
            <div class="Q" id="Q86">
            <p><span>Q 9</span> - Which of the following attribute triggers event when a media resource element suddenly becomes empty?</p>
            <p><a class="false" href="javascript:void(0);"><span>A</span> - ondrop</a></p>
            <p><a class="false" href="javascript:void(0);"><span>B</span> - ondurationchange</a></p>
            <p><a class="true" href="javascript:void(0);"><span>C</span> - onemptied</a></p>
            <p><a class="false" href="javascript:void(0);"><span>D</span> - onended</a></p>
            </div>
            <div class="A" id="A86">
            <h3>Answer : C</h3>
            <h3>Explanation</h3>
            <p>onemptied − Triggers event when a media resource element suddenly becomes empty.</p>
            </div> 
            <div class="B">
            <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('86')"><i class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
            </div>
            <div class="QA">
            <div class="Q" id="Q96">
            <p><span>Q 10</span> - Which of the following attribute triggers event when the duration and other media data of a media element is loaded?</p>
            <p><a class="true" href="javascript:void(0);"><span>A</span> - onloadedmetadata</a></p>
            <p><a class="false" href="javascript:void(0);"><span>B</span> - onloadstart</a></p>
            <p><a class="false" href="javascript:void(0);"><span>C</span> - onmessage</a></p>
            <p><a class="false" href="javascript:void(0);"><span>D</span> - onoffline</a></p>
            </div>
            <div class="A" id="A96">
            <h3>Answer : A</h3>
            <h3>Explanation</h3>
            <p>onloadedmetadata − Triggers event when the duration and other media data of a media element is loaded.</p>
            </div> 
            <div class="B">
            <button type="button" class="btn btn-default btn-xsm" onclick="javascript:showAnswer('96')"><i class="icon  icon-sort"></i> <span>Show Answer</span></button>
            </div>
            </div>


		<script type="text/javascript" src="/exams.js"></script>
        <script type="text/javascript" src="../../js/quiz.js"></script>
        <script type="text/javascript" src="../../js/cheat.js"></script>
</body>

</html>